*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    
    .container{
    
        width: 100%;
        min-height: 100vh;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .navbar{
    
      width: 100%;
      display: flex;
      align-items: center;
    
    }
    .logo{
        width: 50px;
        cursor: pointer;
        margin: 30px 0;
    }
    .menu-icon{
        width: 25px;
        cursor: pointer;
        display: none;
    }
    nav{
    
    
        flex: 1;
        text-align: right;
    }
    
    nav ul li{
    
        list-style: none;
        display: inline-block;
        margin-right: 30px;
    
    
    }
    
    
    
    
    
    
    nav ul li a{
    
        text-decoration: none;
        color: #000;
        font-size: 20px;
    
    }
    
    .col-1{
    
        flex-basis: 40%;
        position: relative;
        margin-left: 50px;
        top: 50px;
    }
    .col-1 h2{
        font-family: sans-serif;
        font-size: 52px;
    }
    
    .col-1 h3{
        font-size: 30px;
        color: #707070;
        font-weight: 100;
        margin: 20px 0 10px;
        font-family: sans-serif;
    }
    
     button{
    
        width: 140px;
        border: 0;
        padding: 12px 10px;
        outline: none;
        color: #fff;
        background: linear-gradient(to right, #fb5283 , #ff3527);
        border-radius: 6px;
        cursor: pointer;
        transition: width 0.5s;
    
     }
     button img{
    
        width: 30px;
        display: none;
     }
         button:hover img{
    
            display:  block;
         }
         button:hover{
             
            width: 160px;
            display: flex;
             align-items: center;
             justify-content: space-between;
         }
         
    
    .col-2{
    
        position: relative;
        flex-basis: 60%;
        display: flex;
        align-items: center;
    }
    
    .subbtn{
    
        position: relative;
        left: 2.2%;
        top: 50px;
        text-decoration: none;
        
    }
    .abtn{
    
        position: relative;
        top: 40px;
    }
    
    .sidelogo{
    
        position: relative;
        left: 55%;
    }
    .sidelogo{
        position: relative;
        bottom: 25px;
    }
    
    .color-box{
        position: absolute;
        right: 0;
        top: 5%;
        background: linear-gradient(to right, #fb5283 , #ff3527);
        border-radius: 20px 0 0 20px;
        height: 100%;
        width: 80%;
        z-index: -1;
    }
    nav ul li a:hover{
    
    color: #ff3527;
    }
    
    @media only screen and (max-width:700px){
    
        nav ul{
    
            width: 100%;
            background: linear-gradient(to right, #fb5283 , #ff3527);
            position:absolute ;
            top: 75px;
            right: 0;
            z-index: 2;
        }
    
          nav ul li{
              display: block;
              margin-top: 10px;
              margin-bottom: 10px;
          }
    
    
          nav ul li a{
    
    color: #fff;
      
    }
    
    .menu-icon{
    
        display: block;
    
    }
    
    #menulist{
    
        overflow: hidden;
        transition: 0.5s;
    }
    
    .row{
    
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    
    .sidelogo{
    position: absolute;
    top: 15%;
    left: 28%;
    
    
    }
    
    .color-box{
    
        position: absolute;
        right: none;
        top: none;
        background: none;
        border-radius: none;
        height: none;
        width: none;
        z-index: none;
    }
    
    .subbtn{
    
        position: relative;
        left: 2.0%;
        top: 40px;
        text-decoration: none;
        
    }
    .aboutbtn{
    
        position: absolute;
        top: 100%;
       right: 70%;
    }
    .col-2{
    
    
        flex-direction: 100%;
        margin-bottom: 50px;
    }
    .sidelogo{
        width: 77%;
    }
    .col-1 h2{
    
        font-size: 50px;
    }
    button{
    
        width: 140px;
        border: 0;
        padding: 12px 10px;
        outline: none;
        color: #fff;
        background: linear-gradient(to right, #fb5283 , #ff3527);
        border-radius: 6px;
        cursor: pointer;
        transition: width 0.5s;
    
     }
     button img{
    
        width: 30px;
        display: none;
     }
         button:hover img{
    
            display:  block;
         }
         button:hover{
             
            width: 160px;
            display: flex;
             align-items: center;
             justify-content: space-between;
         }
    }
    